@model EventFully.EMS.Models.EventViewModel
@{
    ViewData["Title"] = "Tracks";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>@Model.Event.EventName: Tracks</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "Event",new { eventId = @Model.Event.Id })">Event Home</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Tracks</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4 text-right">
        <a href="@Url.Action("Index", "Event",new { eventId = @Model.Event.Id })" class="btn btn-danger mt-4"><i class="fa fa-backward"></i> Back to Event Home</a>
        @*<a href="#" class="btn btn-primary mt-4"><i class="fa fa-plus-circle"></i> Add Track</a>*@
        <a href='#' class='btn btn-primary add-track mt-4' data-eventid=@Model.Event.Id><i class="fa fa-plus-circle"></i> Add Track</a>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div id="track-modal"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Add, Edit or Delete Tracks</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered table-hover" id="tracks">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Color</th>
                                <th>Track Name</th>
                                <th>Sessions</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
@section Styles {
<environment names="Development,Staging,Production">
    <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
    <link href="~/lib/bootstrap-colorselector/dist/bootstrap-colorselector.min.css" rel="stylesheet" />
</environment>
}

@section Scripts {
<environment names="Development,Staging,Production">
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jQuery-unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap-colorselector/dist/bootstrap-colorselector.min.js"></script>
</environment>

    <script type="text/javascript">
        var sTable;
        $(document).ready(function () {

            $(document).on('click', '.delete-track', function () {
                var id = this.id.replace("delete-track-", "");
                var sessions = $(this).data("sessions");
                var message = "This track will be deleted permanently"
                if (sessions > 0) {
                    message += " and it will be unassigned from " + sessions + " session(s)!";
                }
                swal({
                    title: "Are you sure?",
                    text: message,
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $.ajax({
                                url: "/Event/DeleteTrack",
                                type: "GET",
                                dataType: "json",
                                data: { trackId: id },
                                success: function (data) {
                                    swal("The track has been deleted.", {
                                        icon: "success",
                                    });
                                    sTable.ajax.reload()
                                }
                            });
                            
                        }
                    });

                
            });

            sTable = $('#tracks').DataTable({
                pageLength: 25,
                processing: true,
                serverSide: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Tracks' },
                    { extend: 'pdf', title: 'Tracks' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
                ajax: {
                    "type": "POST",
                    "url": '/Event/GetTrackListByEvent',
                    "data": {"eventId": @Model.Event.Id}
                },
                columns: [
                    {
                        data: "id",
                        name: "id",
                        sortable: false,
                        searchable: false,
                        visible: false
                    },
                    {
                        data: "hexColor",
                        name: "hexColor",
                        sortable: false,
                        searchable: false,
                        visible: true,
                        width: 30,
                        render: function (data, type, full, meta) {
                            var cellHtml = '';
                            if (data != null) {
                                cellHtml += '<span style="width:20px; height:20px; display:block; border-radius:10px; border: solid 1px #c3c3c3; background-color:' + data + '"></span>';
                            }
                            return cellHtml;
                        }
                    },
                    {
                        data: "trackName",
                        name: "trackName",
                        sortable: true,
                        searchable: true,
                        visible: true
                    },
                    {
                        data: "sessions",
                        name: "sessions",
                        sortable: true,
                        searchable: true,
                        visible: true
                    },
                    {
                        data: "id",
                        name: "actions",
                        sortable: false,
                        searchable: false,
                        className: "text-center",
                        width: 50,
                        visible: true,
                        render: function (data, type, full, meta) {
                            var cellHtml = '';
                            //cellHtml += '<a href="/event/tracks/edittrack/' + full["eventId"] + '/' + data + '" class="mb-sm btn btn-primary"><i class="fa fa-edit"></i></a>';
                            cellHtml += "<a href='#' class='btn btn-success edit-track' data-id='" + data + "'><i class='fa fa-edit'></i></a>";
                            return cellHtml;
                        }
                    },
                    {
                        data: "id",
                        name: "actions",
                        sortable: false,
                        searchable: false,
                        className: "text-center",
                        width: 50,
                        visible: true,
                        render: function (data, type, full, meta) {
                            var cellHtml = '';
                            cellHtml += '<a href="#" id="delete-track-' + data + '" data-sessions="' + full["sessions"] + '" class="mb-sm btn btn-danger delete-track"><i class="fa fa-trash"></i></a>';
                            return cellHtml;
                        }
                    },
                ]
            });

            $(document).on('click', '.edit-track', function () {
                var id = $(this).data('id');
                $.ajax({
                    url: "/event/EditTrack",
                    type: "GET",
                    dataType: "html",
                    data: { id: id },
                    success: function (data) {
                        $("#track-modal").html(data);
                        $('#Track_HexColor').colorselector();
                        $("#EditTrackForm").validate();
                        $("#TrackModal").modal('show');
                    }
                });
            });

            $(document).on('click', '.add-track', function () {
                var eventId = $(this).data('eventid');
                $.ajax({
                    url: "/event/AddTrack",
                    type: "GET",
                    dataType: "html",
                    data: { eventId: eventId},
                    success: function (data) {
                        $("#track-modal").html(data);
                        $('#Track_HexColor').colorselector();
                        $("#EditTrackForm").validate();
                        $("#TrackModal").modal('show');
                    }
                });
            });
        });

        function SaveTrack(data) {
            sTable.ajax.reload();
            $("#TrackModal").modal('hide');
        }

    </script>
}